.App {
  text-align: center;
}

.footbottom{ text-align: left;}
.copyright{ text-align: left;}
.top-hor-img{ display: flex; align-items: flex-start;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.copyright{ margin-top: auto; margin-bottom: 10px; font-size: 1rem;}
.undefined img{ height: 5rem;}
.undefined b{ color: #E60200;}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.form-check-input[type=checkbox]{ border-width: 0.2rem !important;}
.timeexpired p{ font-size: 2rem;
  font-weight: 600;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
